<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RevPlay - Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="login-container">
    <h1>RevPlay</h1>
    <div class="tagline">Feel the Beat 🎵</div>

    <p th:if="${error}" th:text="${error}" class="error"></p>
	<p th:if="${success}" th:text="${success}" style="color: lightgreen;"></p>

    <form th:action="@{/login}" method="post">
        <input type="email" name="email" placeholder="Email" required>
		<div style="position: relative;">
		    <input type="password" id="password" name="password" placeholder="Password" required>
		    <span onclick="togglePassword()" 
		          style="position: absolute; right: 10px; top: 12px; cursor: pointer; color: gold;">
		        👁
		    </span>
		</div>
        <button type="submit">Login</button>
    </form>

    <div class="links">
        <p><a th:href="@{/forgot-password}">Forgot Password?</a></p>
        <p>New to RevPlay? <a th:href="@{/register}">Create Account</a></p>
    </div>
</div>
<script>
    function togglePassword() {
        const passwordField = document.getElementById("password");

        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
</body>
</html>